# Hide the Hack
*.hack linguist-detectable=false

# Enable the main languages
*.php linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
*.sql linguist-detectable=true